@font-face {
    font-family: 'Inter-SemiBold';
    src: url('Inter-SemiBold.woff2') format('woff2'),
        url('Inter-SemiBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter-Medium';
    src: url('Inter-Medium.woff2') format('woff2'),
        url('Inter-Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter-Regular';
    src: url('Inter-Regular.woff2') format('woff2'),
        url('Inter-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter-Bold';
    src: url('Inter-Bold.woff2') format('woff2'),
        url('Inter-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Alana';
    src: url('Alana.woff2') format('woff2'),
        url('Alana.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Alana-Bold';
    src: url('Alana-Bold.woff2') format('woff2'),
        url('Alana-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'AttenNew-RegularItalic';
    src: url('AttenNew-RegularItalic.woff2') format('woff2'),
        url('AttenNew-RegularItalic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'AttenNew-Bold';
    src: url('AttenNew-Bold.woff2') format('woff2'),
        url('AttenNew-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'AttenNew-Regular';
    src: url('AttenNew-Regular.woff2') format('woff2'),
        url('AttenNew-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'AttenNew-Medium';
    src: url('AttenNew-Medium.woff2') format('woff2'),
        url('AttenNew-Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

